<div class="card bg-light">
  <div class="card-header">{{ titulo }}: {{ factura.descripcion }}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; volver</a>
    </h4>

    <form>

      <div class="form-group row" *ngIf="factura.cliente">
        <label for="" class="col-sm-2 col-form-label">Cliente</label>
        <div class="col-sm-6">
          <input type="text" name="cliente" value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" class="form-control" disabled />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-6">
          <input type="text" name="descripcion" [(ngModel)]="factura.descripcion" class="form-control" />
        </div>
      </div>

      <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label">Observacion</label>
        <div class="col-sm-6">
          <textarea name="observacion" [(ngModel)]="factura.observacion" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <mat-form-field>
            <input type="text" placeholder="Añadir producto" aria-label="Productos" matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre">
              <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                {{producto.nombre}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="submit" value="Crear factura" class="btn btn-secondary" />
        </div>
      </div>

    </form>
  </div>
</div>
