<detalle-cliente *ngIf="clienteSeleccionado" [cliente]="clienteSeleccionado"></detalle-cliente>
<div class="card">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes </h5>

    <div class="my-2 text-left" type="button" [routerLink]="['/clientes/form']">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" name="button">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length<=0" class="alert alert-info">
      No hay registros en la base de datos :(
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha de creacion</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>
            <img *ngIf="cliente?.foto" (click)="abrirModal(cliente)" src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}" alt="{{ cliente.foto }}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
            <img *ngIf="!cliente?.foto" (click)="abrirModal(cliente)" src="http://localhost:8080/images/not-user.png" alt="Sin foto" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <!-- <td>{{ cliente.apellido | uppercase}}</td> FORMA DE HACERLO DESDE HTML CON PIPES-->
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <!-- <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>  FORMA DE HACERLO DESDE HTML CON PIPES-->
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button type="button" name="button" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator]="paginator"></paginator-nav>
  </div>
</div>
