<div class="card">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes </h5>

    <div class="my-2 text-left" type="button" [routerLink] = "['/clientes/form']">
      <button class="btn btn-rounded btn-primary" name="button">Crear cliente</button>
    </div>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha de creacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
