<div class="card">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes </h5>

    <div class="my-2 text-left" type="button" [routerLink] = "['/clientes/form']">
      <button class="btn btn-rounded btn-primary" name="button">Crear cliente</button>
    </div>
    <div *ngIf="clientes?.length<=0" class="alert alert-info">
      No hay registros en la base de datos :(
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fecha de creacion</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <!-- <td>{{ cliente.apellido | uppercase}}</td> FORMA DE HACERLO DESDE HTML CON PIPES-->
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.createAt }}</td>
          <!-- <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>  FORMA DE HACERLO DESDE HTML CON PIPES-->
          <td>
            <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
          </td>
          <td>
            <button type="button" name="button" (click)="delete(cliente)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginator-nav *ngIf="paginator" [paginator] = "paginator"></paginator-nav>
  </div>
</div>
